.local/
_BUILD/
_RELEASES/
**/__pycache__/
**/.pytest_cache/
**/Binaries/
**/DerivedDataCache/
**/Intermediate/
**/Saved/
.vs/
*.sln
.env
*.pdb
*.obj
*.zip
*.7z
*.xapk
*.apk
*.so
*.dll
*.exe
*.blend
*.fbx
*.glb
*.uasset
*.umap
/assets/generated/.game-dev/
/assets/generated/.jobs/
